<span>
    <a href="#" class="{{#is_liked}}active{{/is_liked}}" data-like="1" data-commentid="{{id}}">
        <i class="fa fa-thumbs-up"></i>{{likes}}
    </a>
    <a href="#" class="{{#is_disliked}}active{{/is_disliked}}" data-like="-1" data-commentid="{{id}}">
        <i class="fa fa-thumbs-down"></i>{{dislikes}}
    </a>
</span>
